#{extends 'main.html' /}
#{set title:'Cadastro de Pessoa' /}

#{if p?.id}
	<h1>Edição de Pessoa</h1>
#{/if}
#{else}
	<h1>Cadastro de Pessoa</h1>
#{/else}

<hr />

#{ifErrors}
	<h4>Revise as informações do formulário</h4>
#{/ifErrors}

<form action="/pessoas/salvar" enctype="multipart/form-data" method="post">
	
	<input type="hidden" name="pessoa.id" value="${p.id}" />

	<input type="text" name="pessoa.nome" value="${p.nome}" placeholder="Nome"/><br />
	<span class="error">#{error 'pessoa.nome' /}</span><br />
	
	<input type="text" name="pessoa.email" value="${p.email}" placeholder="Email"/><br />
	<span class="error">#{error 'pessoa.email' /}</span><br />
	
	<input type="text" name="pessoa.nascimento" value="${p.nascimento}" placeholder="Dt. Nascimento"/><br />
	<span class="error">#{error 'pessoa.nascimento' /}</span><br />
	
	<select name="pessoa.departamento.id">
		#{list items:departamentos, as:'d'}
			<option value="${d.id}" ${d.id == p.departamento?.id ? 'selected' : ''}>
				${d.nome}
			</option>
		#{/list}
	</select>
	
	<br />
	
	<input type="file" name="pessoa.foto" />
	
	<br />
	
	<input type="submit" value="Cadastrar">
</form>

<a href="@{Pessoas.listar}">Retornar</a>